{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <title>About</title>
    <link rel = "icon" href="icons/car.png" type="image/icon">

    <link rel="stylesheet" href="dash.css" />
    <!-- Boxicons CDN Link -->
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="sidebar">
      <div class="logo-details">
        <i class=""></i>
        <div class="logo_name">South's Team</div>
        <i class="bx bx-menu" id="btn"></i>
      </div>
      <ul class="nav-list">
        <li>
          <i class="bx bx-search"></i>
          <input type="text" placeholder="Search..." />
          <span class="tooltip">Search</span>
        </li>
        <li>
          <a href="dashhome.html">
            <i class="bx bx-home"></i>
            <span class="links_name">HOME</span>
          </a>
          <span class="tooltip">HOME</span>
        </li>
        <li>
          <a href="dashabout.html">
            <i class="bx bx-question-mark"></i>
            <span class="links_name">ABOUT US</span>
          </a>
          <span class="tooltip">ABOUT US</span>
        </li>
        <li>
          <a href="dashservices.html">
            <i class="bx bx-wrench"></i>
            <span class="links_name">SERVICES</span>
          </a>
          <span class="tooltip">SERVICES</span>
        </li>
        <li>
          <a href="dashcarwash.html">
            <i class="bx bx-car"></i>
            <span class="links_name">CARWASH</span>
          </a>
          <span class="tooltip">CARWASH</span>
        </li>
        <li>
          <a href="dashparts.html">
            <i class="bx bx-cart-alt"></i>
            <span class="links_name">PARTS/ACCESSORIES</span>
          </a>
          <span class="tooltip">PARTS/ACCESSORIES</span>
        </li>
        <li>
          <a href="dashsched.html">
            <i class="bx bx-calendar"></i>
            <span class="links_name">SCHEDULE</span>
          </a>
          <span class="tooltip">SCHEDULE</span>
        </li>
        <li>
          <a href="dashcontact.html">
            <i class="bx bx-phone"></i>
            <span class="links_name">CONTACT US</span>
          </a>
          <span class="tooltip">CONTACT US</span>
        </li>
        <li class="profile">
          <div class="profile-details">
            <img src="icons\jennie.jpg" alt="profileImg" />
            <div class="name_job">
              <div class="name">Jennie Ruby Jane</div>
              <div class="job">0116</div>
            </div>
          </div>
          <i class="bx bx-log-out" id="log_out"></i>
        </li>
      </ul>
    </div>
      </ul>
    </div>
    <section class="home-section">
      <header>
        <div class="containerHeader">
            <img src = "images/header.png" 
          width="1250" height="130" ></img>
        </div>  
      </header>
      <div class="text">
       <h4>About us</h4> 
       <br><br>
        <div class="aboutus">
          <u>Our Company</u>
          <img class="about" src="icons\aboutus.PNG" alt="About Us" />
          <p><br>
            South's Team is a Philippine based and licensed auto repair garage.
            We have been able to secure a standard and well-positioned garage
            facility in a central and busy district in Cavite-Philippines.
          </p>
          <br />
          <p>
            We are an auto repair services company that is set to compete in the
            highly competitive and fragmented auto repair and mantainance
            services industry not only in Cavite, but also throughout the
            CALABARZON market because we intend opening our outlets in key
            cities across the Philippines.
          </p>
          <br />
          <p>
            South's Team Auto Services, will offer services such as mechanical
            and electrical repair and maintenance work for cars, motorscycles,
            and trucks. Our business goal is to become one of the leading auto
            repair garages in Cavite and soon in Region-IV and we will make sure
            that we will give it our all to compete favorably with leaders in
            the industry just like other successful companies who have services
            centers and outlets.
          </p>
          <br />
          <p>
            Our workers selected from a pool of certifies and highly experienced
            auto repair engineers and technicians in the Philippines who are
            equipped with a good character reference and very accomodating
            quality that every individuals are appreciated.
          </p>
          <br />
          <p>
            We will make sure that we take all the members of our workforce
            throught the required trainings that will position them to meet the
            expectations of the company and to compete with leading auto repair
            garages and services centers in The United States and throughout the
            globe.
          </p>
          <br />
          <p>
            We will cultivate a working environment that provide a human,
            sustainable approach to earning a living, and living in out world,
            for all our partners, employess, and for our clients.
          </p>
          <br />
          <p>
            South's Team Auto Services are made by the students from Cavite
            State University-Carmona Campus namely, Anthony Estrera, our team
            leader, Delfin Maleniza, Kim Dayao, professional technician and
            engineers, Felix Capunihan, professional mechanical engineer, Carla
            Bote and Kennylyn Espiritu, professional graphic designer and
            concept maker.
          </p>
          <br />
          <p>
            They Have a combine experiences and professionalism to give the
            company's excellence, integrity, and highly recommending auto
            services in the Philippines.
          </p>
        </div>
      </div>
    </section>
    <script>
      let sidebar = document.querySelector(".sidebar");
      let closeBtn = document.querySelector("#btn");
      let searchBtn = document.querySelector(".bx-search");

      closeBtn.addEventListener("click", () => {
        sidebar.classList.toggle("open");
        menuBtnChange(); //calling the function(optional)
      });

      searchBtn.addEventListener("click", () => {
        // Sidebar open when you click on the search iocn
        sidebar.classList.toggle("open");
        menuBtnChange(); //calling the function(optional)
      });

      // following are the code to change sidebar button(optional)
      function menuBtnChange() {
        if (sidebar.classList.contains("open")) {
          closeBtn.classList.replace("bx-menu", "bx-menu-alt-right"); //replacing the iocns class
        } else {
          closeBtn.classList.replace("bx-menu-alt-right", "bx-menu"); //replacing the iocns class
        }
      }
    </script>
  </body>
</html>
