{% load static %} 
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel = "icon" href="icons/car.png" type="image/icon">
    <title>South's Team Auto Services</title>
    <link rel="stylesheet" href="Astyle.css" />
  </head>
  <style>
    body {
      background-image: url('images/backgroundServices.png');
      background-repeat: no-repeat;
      background-attachment: fixed;

    }
    </style>
  <body>
    <div class="containerHeader">
          
       
      <img src = "images/header.png" 
    width="1350" height="130" ></img>
  
 
   
      <div class="form">
        <div class="title">
          <h1>WELCOME</h1>
        </div>
        <form action="">
          <div class="username">
            <label for="username">Username</label><br />
            <input type="text" name="username" id="username" />
          </div>
          <div class="password">
            <label for="password">Password</label><br />
            <input type="password" name="password" id="password" />
          </div>
        </form>
        <div class="button1">
          <a href="#">Forgot Password</a>
          <input type="submit" value="Sign In" id="login" />
        </div>
        <div class="button2">
          <h4>Not yet Registered?</h4>
          <a href="Asignup.html">Sign Up Here</a>
        </div>
      </div>
    </div>
    <script src="Aapp.js"></script>
  </body>
</html>
