<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reservation</title>
  </head>
  <body>
    <form action="" enctype="multipart/form-data" method="post">
      {% csrf_token %}
      <label>Services: </label>
      {{form.services}}
      <label>Schedule: </label>
      {{form.schedule}}
      <div class="btn-flex">
        <button type="submit" class="btn">Add Food</button>
        <button type="reset" class="btn">Reset</button>
      </div>
    </form>
  </body>
</html>
