{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <title>Services</title>
    <link rel = "icon" href="{% static 'icons/car.png' %}" type="image/icon">

    <link rel="stylesheet" href="{% static 'css/dash.css' %}" />
    <!-- Boxicons CDN Link -->
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <div class="sidebar">
    <div class="logo-details">
      <i class=""></i>
      <div class="logo_name">South's Team</div>
      <i class="bx bx-menu" id="btn"></i>
    </div>
    <ul class="nav-list">
      <li>
        <i class="bx bx-search"></i>
        <input type="text" placeholder="Search..." />
        <span class="tooltip">Search</span>
      </li>
      <li>
        <a href="{% url 'home' %}">
          <i class="bx bx-home"></i>
          <span class="links_name">HOME</span>
        </a>
        <span class="tooltip">HOME</span>
      </li>
      <li>
        <a href="{% url 'about'%}">
          <i class="bx bx-question-mark"></i>
          <span class="links_name">ABOUT US</span>
        </a>
        <span class="tooltip">ABOUT US</span>
      </li>
      <li>
        <a href="{% url 'services'%}">
          <i class="bx bx-wrench"></i>
          <span class="links_name">SERVICES</span>
        </a>
        <span class="tooltip">SERVICES</span>
      </li>
      <li>
        <a href="{% url 'carwash'%}">
          <i class="bx bx-car"></i>
          <span class="links_name">CARWASH</span>
        </a>
        <span class="tooltip">CARWASH</span>
      </li>
      <li>
        <a href="{% url 'parts'%}">
          <i class="bx bx-cart-alt"></i>
          <span class="links_name">PARTS/ACCESSORIES</span>
        </a>
        <span class="tooltip">PARTS/ACCESSORIES</span>
      </li>
      <li>
        <a href="{% url 'schedule'%}">
          <i class="bx bx-calendar"></i>
          <span class="links_name">SCHEDULE</span>
        </a>
        <span class="tooltip">SCHEDULE</span>
      </li>
      <li>
        <a href="{% url 'contacts'%}">
          <i class="bx bx-phone"></i>
          <span class="links_name">CONTACT US</span>
        </a>
        <span class="tooltip">CONTACT US<span>
      </li>

      <li class="profile">
        <div class="profile-details">
          <img src="{% static 'icons\jennie.jpg' %}" alt="profileImg" />
          <div class="name_job">
            <div class="name">{{request.user.username}}</div>
            <div class="job">00{{request.user.id}}</div>
          </div>
        </div>
        <a href="{% url 'logout' %}"><i class="bx bx-log-out" id="log_out"></i></a>
      </li>
    </ul>
  </div>
  
    <section class="home-section">
      <header>
        
        <div class="containerHeader">
          
       
            <img src = "images/header.png" 
          width="1250" height="130" ></img>
        
        </div>
      </header>
      
      <body>
        
      <div class="text">
        <h4>Services</h4>
        </div>
          <div class="left">
            <u><b>Car Mechanic</b> </u>
            <div class="clearfix">
              <img
                class="img2"
                src="icons\car mechanic.png"
                alt="Car Mechanic"
              />
              <p>
                Oil change, oil filter change, inspection of main components.
              </p>
            </div>
            <br />
            <div class="clearfix1">
              <u><b>Customer Care</b></u>
              <img
                class="img1"
                src="icons\customer care.png"
                alt="Customer Care"
              />
              <p>
                Provides and delivering professional, helpful, high quality
                service and assistance before, during, and after customers
                requirements.
              </p>
            </div>
            <br />
            <div class="carmaintenance">
              <u><b>Car Maintenance</b></u>
              <p>
                Battery, Lights, Water, Brake, Air, Gas, Engine, Tire, etc.
                <br />
                Basic components to be check daily to maintain your vehicles in
                good condition whatever season.
              </p>
              <img
                class="img3"
                src="icons\car maintenance.png"
                alt="Car Maintenance"
              />
            </div>
          </div>

          <div class="middle">
            <u><b>Diagnostic</b></u>
            <div class="diagnostics">
              <img class="diag" src="icons\diagnostic.png" alt="Diagnostic" />
              <p>
                Our engine diagnostic services help us to provide youwith an
                accurate diagnostics of your vehicles engine problem and repair
                it.
              </p>
            </div>
            <br />
            <div class="technical">
              <u><b>Technical Repair</b></u>
              <img
                class="tech"
                src="icons\technical repair.png"
                alt="Technical Repair"
              />
              <p>
                Body components including trim, doors, windows, low
                voltage/auxiliary electrical system and electronics, Audio and
                video devices, Cameras (front and back), Low voltage electrical
                supply system, Gauges and meters.
              </p>
              <img class="tech1" src="icons\technical repair 1.png" />
            </div>
          </div>

          <div class="right">
            <div class="service">
              <img
                class="tire"
                src="icons\tire service.png"
                alt="Tire Services"
              />
              <p>
                
            <u><b>Tire Repair</b><u>
             
            </p>
               <u> <li>Replacement</li>
              
              
                <li>Tire Balancing</li>
              
                <li>Vulcanization</li></b></u>
              </p>
            </div>
            <br />
            <div class="carpainting">
              <u><b>Car Painting</b></u>
              <p>
                Customize your cars based on your own design and color thru the
                help of out very own professional graphic designers and
                engineering design team.
              </p>
              <img
                class="paint"
                src="icons\car painting.png"
                alt="Car Painting"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>
    <script>
      let sidebar = document.querySelector(".sidebar");
      let closeBtn = document.querySelector("#btn");
      let searchBtn = document.querySelector(".bx-search");

      closeBtn.addEventListener("click", () => {
        sidebar.classList.toggle("open");
        menuBtnChange(); //calling the function(optional)
      });

      searchBtn.addEventListener("click", () => {
        // Sidebar open when you click on the search iocn
        sidebar.classList.toggle("open");
        menuBtnChange(); //calling the function(optional)
      });

      // following are the code to change sidebar button(optional)
      function menuBtnChange() {
        if (sidebar.classList.contains("open")) {
          closeBtn.classList.replace("bx-menu", "bx-menu-alt-right"); //replacing the iocns class
        } else {
          closeBtn.classList.replace("bx-menu-alt-right", "bx-menu"); //replacing the iocns class
        }
      }
    </script>
  </body>
</html>
